@using System.Net.Http.Headers
@inject ISessionStorageService sessionStorage
@inject HttpClient httpClient
@inject IJSRuntime JS

<div class="newPost">
    <h3>Agregar comentario</h3>
    <div class="toolbar">
        <button type="button" data-func="bold"><i class="fa fa-bold"></i></button>
        <button type="button" data-func="italic"><i class="fa fa-italic"></i></button>
        <button type="button" data-func="underline"><i class="fa fa-underline"></i></button>
    </div>
    <div class="editor" contenteditable></div>
    <div class="buttons">
        <button data-func="clear" type="button" @onclick="@(() => Limpiar())">Limpiar</button>
        <button data-func="save" type="button" @onclick="@(() => RegistrarComentario())">Cargar</button>
    </div>
</div>

@code {

    public string contenido { get; set; }

    [Parameter]
    public int foro_Codigo { get; set; }

    [Parameter]
    public EventCallback CargaComentarioInicialCallBack { get; set; }

    private async Task RegistrarComentario()
    {
        try
        {
            // Obtener el contenido del editor
            contenido = await JS.InvokeAsync<string>("eval", "document.querySelector('.editor').innerHTML;");

            // LLAMAR ENDPOINT
            var user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
            httpClient.DefaultRequestHeaders.Clear();
            httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);

            var request = new ComentarioRequest
                {
                    Contenido = contenido,
                    Foro_Codigo = foro_Codigo,
                    User_ID = string.Empty,
                    FechaCreacion = DateTime.Now,
                    ComentarioPadre_Codigo = null
                };
            var result = await httpClient.PostAsJsonAsync<ComentarioRequest>("Foro/RegistrarComentario", request);

            Limpiar();

            await CargaComentarioInicialCallBack.InvokeAsync();
        }
        catch (Exception ex)
        {
            // Manejar la excepción de forma adecuada
        }
    }


    private async Task Limpiar()
    {
        try
        {
            // Limpiar el contenido del editor en la página
            await JS.InvokeVoidAsync("eval", "document.querySelector('.editor').innerHTML = '';");

            // Borrar el contenido del localStorage
            await JS.InvokeVoidAsync("eval", "localStorage.removeItem('wysiwyg');");

            // Opcional: Puedes actualizar la propiedad 'contenido' si es necesario
            contenido = string.Empty;
        }
        catch (Exception ex)
        {
            // Manejar la excepción de forma adecuada
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("eval", "$('.newPost button[data-func]').click(function () { document.execCommand($(this).data('func'), false); });");
            await JS.InvokeVoidAsync("eval", "$('.newPost select[data-func]').change(function () { var $value = $(this).find(':selected').val(); document.execCommand($(this).data('func'), false, $value); });");
        }
    }
}
