<div class="popup" style="@(Show ? "visibility:visible; opacity:1;" : "")">
    <div class="popup-inner" style="@(Show ? "bottom:0; right:0; transform:rotate(0);" : "")">
        <div class="popup__photo">
            <img src="https://images.unsplash.com/photo-1515224526905-51c7d77c7bb8?ixlib=rb-0.3.5&s=9980646201037d28700d826b1bd096c4&auto=format&fit=crop&w=700&q=80" alt="">
        </div>
        <div class="popup__text">
            <h1>Lorem ipsum dolor sit amet</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ex velit, viverra non vulputate vitae, blandit vitae nisl. Nullam fermentum orci et erat viverra bibendum. Aliquam sed varius nibh, vitae mattis purus. Mauris elementum sapien non ullamcorper vulputate. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eget felis sit amet eros viverra pulvinar.</p>
        </div>
        <div class="popup__close" @onclick="ClosePopup">X</div>
    </div>
</div>

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private void ClosePopup()
    {
        OnClose.InvokeAsync();
    }
}
