@page "/"

@using System.Net.Http.Headers
@inject ISnackbar Snackbar
@inject ISessionStorageService sessionStorage
@inject HttpClient httpClient
@inject NavigationManager NavManager

<SteamAccounDialog Show="@showPopup" OnClose="ClosePopup"></SteamAccounDialog>
<section class="sc-popular bg-violet-dark-active" style="height: 100vh">
    <div class="container">
        <div class="sc-title">
            <h3>top popular <span>games</span></h3>
            <div class="line"></div>
        </div>
        <div class="game-card-list grid gap-6 md:grid-cols-2 lg:grid-cols-3">
            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-1.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-2.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img"src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-3.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-4.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-5.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-6.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc-title">
            <h3>top popular <span>games</span></h3>
            <div class="line"></div>
        </div>
        <div class="game-card-list grid gap-6 md:grid-cols-2 lg:grid-cols-3">
            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-1.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-2.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-3.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-4.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-5.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-card">
                <div class="game-card-top rec-img-fit-cover">
                    <img class="rec-img" src="assets/Recomendaciones/images/game-6.png" alt="">
                    <div class="ratings-count">
                        241
                        <img src="assets/Recomendaciones/icons/star-black.svg" alt="" class="ms-2 rec-img">
                    </div>
                </div>
                <div class="game-card-bottom">
                    <div class="flex flex-col sm:flex-row justify-between items-start flex-wrap">
                        <div class="py-1">
                            <h4 class="text-white uppercase game-card-title">Minecraft Legends</h4>
                            <p class="para-text">Minecraft Legends, a real-time strategy action ...</p>
                        </div>
                        <div class="star-rating mt-2 sm:mt-0 py-1">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green.svg">
                            <img class="rec-img" src="assets/Recomendaciones/icons/star-green-half.svg">
                        </div>
                    </div>

                    <div class="block-wrap flex justify-between items-end">
                        <div class="details-group">
                            <div class="flex items-center">
                                <p class="font-semibold">Release Date: &nbsp;</p>
                                <p>07.12.2015</p>
                            </div>
                            <div class="flex items-center">
                                <p class="font-semibold">Updated: &nbsp;</p>
                                <p>Action | Desktop</p>
                            </div>
                        </div>

                        <div class="flex flex-col items-end justify-between">
                            <a href="#" class="btn-primary uppercase">see more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@code {
    public LoginTokenResponse user;

    private bool showPopup = false;

    private void ClosePopup()
    {
        try
        {
            showPopup = false;
        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }

    protected override async Task OnInitializedAsync()
    {
        // Verificar si el popup ya fue mostrado en la sesión
        var popupShown = await sessionStorage.GetItemAsync<bool>("popupShown");

        if (!popupShown)
        {
            // Si el popup no fue mostrado, lo mostramos y guardamos el estado en sessionStorage
            showPopup = true;
            await sessionStorage.SetItemAsync("popupShown", true);
        }

        StateHasChanged();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender)
            {
                try
                {
                    user = await sessionStorage.GetItemAsync<LoginTokenResponse>("user");
                    httpClient.DefaultRequestHeaders.Clear();
                    httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", user.Token);
                }
                catch (Exception)
                {

                }

                // Esperar un breve momento para asegurarse de que el componente se haya renderizado completamente
                await Task.Delay(3000);
            }
        }
        catch (Exception)
        {

        }
        finally
        {
            StateHasChanged();
        }
    }

    public void SayHello()
    {
        Snackbar.Add("Hello World!");
    }
}
